

<div class="jumbotron">
    <div class="well">
        <div class="container">
            <div class="row">
                <div class="col-md-4">
                   You're on Gazooyr !
                </div>
                <div class="col-md-8">
                    Le twitter qu'il est vachement plus mieux
                </div>


                <p class="col-md-4"> Tendances</p>
                <p class="col-md-4">Les derniers gazooies</p>

            </div>
        </div>
    </div>